*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content:center;
    background-color:#f7d065;

}

h1{
    margin-bottom: 20px;
}

/* remove when done styling*/

.container{
    width:80%;
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.calculator{
    width:400px;
    height:600px;
    padding: 30px;
    background: linear-gradient(90deg, #3A3941 0 80%, #1f1f24);
    border-radius:15px;
    box-shadow:15px 15px;
    display:flex;
    flex-direction:column;
}
.calc-top{
    margin-bottom:20px;
    background:none;
    flex:initial;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
}
.display{
    width:100%;
    height:40px;
    padding:5px;
    font-size:30px;
    text-align:right;
    background-color:whitesmoke;
    border-radius:5px;
    flex:none;
    margin-bottom:20px;
}
.clr-btn{
    width:auto;
    flex:none;
    align-self:flex-start;
}
.message{
    height:50px;
    width: 40px;
    margin-left:30px;
    background-color:black;
    color:white;
    font-size:30px;
    border-radius:5px;
    text-align:center;
    flex:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.calc-body{
    padding:20px;
    background-color:#727080;
    border-radius: 5px;
    flex:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.col{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
button{
    width:60px;
    padding:5px;
    font-size:30px;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    border: 5px outset black;
}
button:hover{
    filter: brightness(.7);
    cursor: pointer;
}
.num-btn{
    background-color:whitesmoke;
}

.op-btn, .clr-btn{
    background-color:#f7d065;
}

.btn-pressed{
    border-style:inset;
    filter: brightness(.7);
}
